<h1>Teach Chat Learner</h1>

<p>Sorry :p, Chat Learner wasn't able to understand your question.</p>
<p>Teach him so that he cound answer your question next time!</p>

<form action="/dictionary/create">
	<div>
		Ask: <input type='text' name='ask' value="<%= @ask %>"/>
	</div>
	<div>
		Answer: <input type='text' name='answer'/>
	</div>
	<button type='submit'>Teach</button>
</form>
